@page "/recovery"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject NavigationManager NM
@using Newtonsoft.Json
@using client.Schemas
@using System.Text
@using System.Net.Http

<title>Password Recovery</title>

<style>
    img {
        border-radius: 50%;
    }

    .custom-btn:hover {
        background-color: white;
        color: green;
    }

    .bg-image {
        position: relative;
        background-image: url('images/greenbg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

        .bg-image::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .bg-image .container {
            position: relative;
            z-index: 2;
        }

</style>

<section class="bg-image py-3 py-md-5 full-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <a href="/">
                                <img src="images/forgotlogo.png" alt="Forgot Logo" width="150" height="150">
                            </a>
                        </div>
                        <h2 class="fs-6 fw-bold text-center text-secondary mb-4">Welcome!</h2>
                        <div class="row gy-2 overflow-hidden">
                            <form>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control mb-3" placeholder="Enter your email..." @bind="recovery_email">
                                </div>
                            </form>
                            <div class="col-12">
                                <div class="d-grid my-3">
                                    <a class="btn btn-success rounded-pill custom-btn mb-3" @onclick="() => RecoverPassword(recovery_email)">Send Recovery Code</a>
                                    <a href="/login" class="text-success text-center">Return to login</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code
{
    public string? recovery_email { get; set; }
    public class Recovery
    {
        public string? detail { get; set; }
        public string? token { get; set; }
    }
    public async Task SetEmailToken(string token)
    {
        await JS.InvokeVoidAsync("setemailtoken", token);
    }
    public async Task RecoverPassword(string recovery_email)
    {
        using (var http = new HttpClient())
        {
            if (!string.IsNullOrWhiteSpace(recovery_email))
            {
                var uri = $"http://127.0.0.1:8000/api/v1/password/{recovery_email}";
                var response = await http.GetAsync(uri.ToString());
                var responsebody = await response.Content.ReadAsStringAsync();
                try
                {
                    response.EnsureSuccessStatusCode();
                    var detail = JsonConvert.DeserializeObject<Recovery>(responsebody);
                    Console.WriteLine(detail.detail);
                    await SetEmailToken(detail.token);
                    NM.NavigateTo("login");
                } catch (Exception e) {
                    var detail = JsonConvert.DeserializeObject<Detail>(responsebody);
                    Console.WriteLine(detail.detail);
                }
            } else {
                Console.WriteLine("missing credentials");
            }
        }
    }
}